Repository wuyifan0203/vitepress-theme-sakurairo: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run eslint:fix, pnpm run stylelint:fix

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx,vue}": "pnpm run eslint:fix",
  "src/**/*.{vue,css,scss}": "pnpm run stylelint:fix"
}

ci: :ferris_wheel: 更新commitlint
  .commitlintrc.cjs
Due: none

deploy: 0a02b007ef5a157efb570f2d04fc5f7f909919ef
  404.html
  hashmap.json
  index.html
  posts/date/date1.html
  posts/date/date2.html
  posts/date/date3.html
  posts/film.html
  posts/glsl/glsl.html
  posts/index.html
  posts/introduce.html
  posts/webgl/index.html
  posts/webgl/webgl.html
Due: none

wip: :construction: 测试一下wip
  .commitlintrc.cjs
Due: none

deploy: 52379f42875423123722b574da4c4e3405c6cb42
  404.html
  hashmap.json
  index.html
  posts/date/date1.html
  posts/date/date2.html
  posts/date/date3.html
  posts/film.html
  posts/glsl/glsl.html
  posts/index.html
  posts/introduce.html
  posts/webgl/index.html
  posts/webgl/webgl.html
Due: none

wip: :construction: 验证husky
  .commitlintrc.cjs
Due: none

deploy: e4581b9a9e6f6438b42b2de9beee37d26c3d0b27
  404.html
  hashmap.json
  index.html
  posts/date/date1.html
  posts/date/date2.html
  posts/date/date3.html
  posts/film.html
  posts/glsl/glsl.html
  posts/index.html
  posts/introduce.html
  posts/webgl/index.html
  posts/webgl/webgl.html
Due: none

chore: :hammer: 提交husky
  .husky/_/applypatch-msg
  .husky/_/commit-msg
  .husky/_/h
  .husky/_/husky.sh
  .husky/_/post-applypatch
  .husky/_/post-checkout
  .husky/_/post-commit
  .husky/_/post-merge
  .husky/_/post-rewrite
  .husky/_/pre-applypatch
  .husky/_/pre-auto-gc
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/pre-rebase
  .husky/_/prepare-commit-msg
Due: none

deploy: 866fdecc62c5619ba37fbb947e674bc3eac5dc85
  404.html
  hashmap.json
  index.html
  posts/date/date1.html
  posts/date/date2.html
  posts/date/date3.html
  posts/film.html
  posts/glsl/glsl.html
  posts/index.html
  posts/introduce.html
  posts/webgl/index.html
  posts/webgl/webgl.html
Due: none

feat: :sparkles: 完成文章页面的懒加载
  README.md
  package.json
  src/components/ArticleBoard.vue
  src/components/ArticleList.vue
  src/utils/lazyLoad.ts
Due: pnpm run eslint:fix, pnpm run stylelint:fix

deploy: 1b6b9036470b231bcbeadabd0111331e89f830c6
  404.html
  assets/app.U4R9U1vc.js
  assets/app.XNaFkQTo.js
  assets/chunks/theme.YiSjfhZD.js
  assets/chunks/theme.hrZSGTWZ.js
  assets/style.3ixLgHcH.css
  hashmap.json
  index.html
  posts/date/date1.html
  posts/date/date2.html
  posts/date/date3.html
  posts/film.html
  posts/glsl/glsl.html
  posts/index.html
  posts/introduce.html
  posts/webgl/index.html
  posts/webgl/webgl.html
Due: none

chore: :hammer: 更新vitepress依赖
  package.json
  pnpm-lock.yaml
Due: none

wip: :construction: tag页面
  src/components/ArticleBoard.vue
  src/components/Cover.vue
  src/components/DisplayBoard.vue
  src/components/Footer.vue
  src/components/MainBody.vue
  src/components/NavMenu.vue
  src/components/NoticeBoard.vue
  src/components/SiteBranding.vue
  src/layout/Article.vue
  src/layout/Layout.vue
  src/layout/Tags.vue
Due: pnpm run eslint:fix, pnpm run stylelint:fix

deploy: 6ff0c8aa6de912c3c76b8c0beb03aa0ea6e8e77f
  404.html
  assets/app.Lgn9c2F9.js
  assets/app.VQ1Fa5I3.js
  assets/chunks/theme.DQGJ7kbu.js
  assets/chunks/theme.DwCAfk2e.js
  hashmap.json
  index.html
  posts/date/date1.html
  posts/date/date2.html
  posts/date/date3.html
  posts/film.html
  posts/glsl/glsl.html
  posts/index.html
  posts/introduce.html
  posts/webgl/index.html
  posts/webgl/webgl.html
Due: none

wip: :construction: 更新文章
  docs/posts/film.md
Due: none

deploy: c418d88f68a0878eba1a7ff0a5e62dcff9afb7fa
  404.html
  assets/app.CQFiHcWg.js
  assets/app.VQ1Fa5I3.js
  assets/chunks/theme.BOm_lsDh.js
  assets/chunks/theme.DwCAfk2e.js
  assets/posts_film.md.Bi_v8tzr.js
  assets/posts_film.md.Bi_v8tzr.lean.js
  assets/posts_film.md.CBWa9Yak.js
  assets/posts_film.md.CBWa9Yak.lean.js
  hashmap.json
  index.html
  posts/date/date1.html
  posts/date/date2.html
  posts/date/date3.html
  posts/film.html
  posts/glsl/glsl.html
  posts/index.html
  posts/introduce.html
  posts/webgl/index.html
  posts/webgl/webgl.html
Due: none

docs: :pencil: 修改电影图片链接无法显示，图片样式错误
  docs/components/List.vue
  docs/posts/film.md
Due: none

fix: :bug: 修复文章页面每次不会拉取评论数
  src/layout/Article.vue
  src/store/global.ts
  src/utils/index.ts
  src/utils/store.ts
  src/utils/todo.ts
Due: pnpm run eslint:fix, pnpm run stylelint:fix

deploy: 4407fcdb48a5eefd996bca9eee36f7d7f37ae91d
  404.html
  assets/app.CQFiHcWg.js
  assets/app.n_pSEH3b.js
  assets/chunks/theme.BOm_lsDh.js
  assets/chunks/theme.DyEo7254.js
  assets/posts_film.md.BfF8PpUh.js
  assets/posts_film.md.BfF8PpUh.lean.js
  assets/posts_film.md.Bi_v8tzr.js
  assets/posts_film.md.Bi_v8tzr.lean.js
  assets/style.AsBxAC0w.css
  hashmap.json
  index.html
  posts/date/date1.html
  posts/date/date2.html
  posts/date/date3.html
  posts/film.html
  posts/glsl/glsl.html
  posts/index.html
  posts/introduce.html
  posts/webgl/index.html
  posts/webgl/webgl.html
Due: none

fix: :bug: 修复代码样式和下拉菜单样式，DisplayBord跳转
  .vscode/settings.json
  docs/.vitepress/config.mts
  src/components/DisplayBoard.vue
  src/components/NavMenu.vue
  src/layout/Article.vue
Due: pnpm run eslint:fix, pnpm run stylelint:fix

deploy: babd1d3393e92775926d3cbd6319e75b6d2d7ea6
  404.html
  assets/app.C8TDVuzn.js
  assets/app.n_pSEH3b.js
  assets/chunks/theme.C-gz18Hg.js
  assets/chunks/theme.DyEo7254.js
  assets/style.Cm2RcoyI.css
  hashmap.json
  index.html
  posts/date/date1.html
  posts/date/date2.html
  posts/date/date3.html
  posts/film.html
  posts/glsl/glsl.html
  posts/index.html
  posts/introduce.html
  posts/webgl/index.html
  posts/webgl/webgl.html
Due: none

chore(package.json): :hammer: 升级模块依赖
  package.json
  pnpm-lock.yaml
Due: none

feat: :sparkles: 支持MathJax,修复表格样式,部分文件头注释
  docs/.vitepress/config.mts
  docs/posts/introduce.md
  src/components/ArticleCatalog.vue
  src/components/ArticleFooter.vue
  src/components/ArticleList.vue
  src/components/CommentBoard.vue
  src/components/Pagination.vue
  src/layout/Article.vue
Due: pnpm run eslint:fix, pnpm run stylelint:fix

feat: :sparkles: 修改案例展示,footer路由
  .husky/_/commit-msg
  .husky/_/pre-commit
  docs/.vitepress/config.mts
  docs/posts/webgl/webgl.md
  package.json
  pnpm-lock.yaml
  src/components/Footer.vue
Due: pnpm run eslint:fix, pnpm run stylelint:fix

deploy: 7349bd7f5f91b66ce49bbf5fca92f9d5e1e7a7e4
  404.html
  assets/app.B0Oy2-bj.js
  assets/app.Cz2mp-Z1.js
  assets/chunks/theme.BRkZnVaq.js
  assets/chunks/theme.D98qPz50.js
  assets/posts_introduce.md.6UBubwwH.js
  assets/posts_introduce.md.6UBubwwH.lean.js
  assets/posts_introduce.md.BNY3NgPJ.js
  assets/posts_introduce.md.BNY3NgPJ.lean.js
  assets/posts_webgl_webgl.md.CutUp0ws.js
  assets/posts_webgl_webgl.md.CutUp0ws.lean.js
  assets/posts_webgl_webgl.md.CyhcCDK3.js
  assets/posts_webgl_webgl.md.CyhcCDK3.lean.js
  assets/style.DJU6B89u.css
  assets/style.JoGXXw5Y.css
  hashmap.json
  index.html
  posts/date/date1.html
  posts/date/date2.html
  posts/date/date3.html
  posts/film.html
  posts/glsl/glsl.html
  posts/index.html
  posts/introduce.html
  posts/webgl/index.html
  posts/webgl/webgl.html
Due: none

chore: :hammer: 升级部分依赖
  .husky/_/applypatch-msg
  .husky/_/commit-msg
  .husky/_/h
  .husky/_/husky.sh
  .husky/_/post-applypatch
  .husky/_/post-checkout
  .husky/_/post-commit
  .husky/_/post-merge
  .husky/_/post-rewrite
  .husky/_/pre-applypatch
  .husky/_/pre-auto-gc
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/pre-rebase
  .husky/_/prepare-commit-msg
  package.json
  pnpm-lock.yaml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

deploy: c39c5d9675d74e11186ea6023daf721841db3bb4
  404.html
  assets/app.BEcr0ZZ8.js
  assets/app.CBXl2DRk.js
  assets/chunks/theme.DvEJ7bck.js
  index.html
  posts/date/date1.html
  posts/date/date2.html
  posts/date/date3.html
  posts/film.html
  posts/glsl/glsl.html
  posts/index.html
  posts/introduce.html
  posts/webgl/index.html
  posts/webgl/webgl.html
Due: none

fix: 🐛 iframe disOnline
  docs/posts/introduce.md
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 fix some styles
  src/components/NoticeBoard.vue
  src/components/SiteBranding.vue
Due: pnpm run eslint:fix, pnpm run stylelint:fix

chore: 🤖 升级部分依赖
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 修复依赖引用使用错误
  package.json
  pnpm-lock.yaml
  src/plugin/nprogress.ts
Due: pnpm run eslint:fix

deploy: 5a0c44a3a8219b26bca6a2b94295b9bca9a6404b
  404.html
  assets/app.CR_q0ypm.js
  assets/app.QgXLCw8E.js
  assets/chunks/theme.BfdgfGt8.js
  index.html
  posts/date/date1.html
  posts/date/date2.html
  posts/date/date3.html
  posts/film.html
  posts/glsl/glsl.html
  posts/index.html
  posts/introduce.html
  posts/webgl/index.html
  posts/webgl/webgl.html
Due: none

refactor: 💡 rebuild
  package.json
  pnpm-lock.yaml
  src/components/ArticleBoard.vue
  src/components/Cover.vue
  src/components/Pagination.vue
  src/composables/useConfig.ts
  src/composables/useRouter.ts
  src/config/sakurairo.ts
  src/config/site.ts
  src/env.d.ts
  src/index.ts
  src/layout/Article.vue
  src/layout/Home.vue
  src/layout/index.vue
  src/plugin/yiyan.ts
  src/posts.data.ts
  src/store/index.ts
  src/types/theme.ts
  src/utils/index.ts
  src/utils/store.ts
  src/utils/todo.ts
Due: pnpm run eslint:fix, pnpm run stylelint:fix

refactor: 💡 rebuild
  docs/.vitepress/theme/index.ts
Due: none
